
.Contact .headAll{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 70px;
}

.Contact .HeadContact{
    display: flex;
    flex-direction: column;
    color: #006C00;
}

.ReseauContact .mail i{
    font-size: 28px;
}

.ReseauContact .mail .mailContact{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 20px;
}
.ReseauContact .mail .mailContact .descmail{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #006C00;
}

.formulaire .allFormulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;

}

.test{
    display: flex;
    flex-direction: column;
}

.test label{
    font-size: 20px;
    color: #006C00;
}

.test input{
    width: 200px;
    height: 30px;
    border-radius: 3px;
    
}

.identifiant{
    display: flex;
    flex-direction: row;
    gap: 30px;
}



.Contact{
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(93, 93, 92, 0.5)), url("./_assets/_imgs/m.jpg");
    background-size: cover;
    background-position: 25% 75%;
    background-repeat: no-repeat;
    margin-top: 20px
}

.Contact .headAll{
    width: 100%;
    justify-content: space-around;
}

.Contact .HeadContact{
    display: flex;
    flex-direction: column;
    color: var(--main-white-color);
}

.Contact .HeadContact h1{
    font-size: 1.8rem;
}

.Contact .HeadContact p {
    font-size: 1.3rem;
}

.ReseauContact .mail i{
    font-size: 28px;
}

.ReseauContact .mail{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--main-white-color);
    gap: 20px;
}

.ReseauContact .mail .nousContacter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.ReseauContact .mail .descmail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--main-white-color);
}

.illustration{
    width: 100%;
}

.illustration .illustrationImg img{
    width: 100%;
    height: 800px;
}

/* FORMULAIRE CONTACT */

.formulaire .allFormulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    color: var(--main-green-color);
}

.formulaire .allFormulaire h2{
    font-size: 40px;
}

.formulaire .allFormulaire p {
    font-size: 20px;
    padding-bottom: 30px;
}

.test{
    display: flex;
    flex-direction: column;
}

.test label{
    font-size: 20px;
    padding-bottom: 5px;
    color: var(--main-green-color);
}

.test input{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.identifiant{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.ContactForm{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 30px;
}

.allFormulaire .selectForm{
    display: flex;
    padding-top: 30px;
    gap: 20px;
    flex-direction: column;
}

.selectForm label{
    font-size: 20px;
}

.selectForm select{
    outline: none;
    border: none;
    height: 45px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 16px;
    color: var(--main-green-color);
    padding-left: 20px;
}

.selectForm textarea{
    outline: none;
    border: none;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.selectForm textarea::placeholder{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 15px;
}

.formulaire .allFormulaire form .btnForm{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.formulaire .allFormulaire form .btnForm button{
    display: flex;
    width: 25%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: var(--main-green-color);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    outline: none;
}
